<header>
    <p class="real-header">Адаптивный дизайн.</p>
</header>

<div class="body">
    <div id="example-1">

        <header id="header" class="page-header">
            <div class="title">
                <h1>Мобильная версия макета.</h1>
                <div class="slogan">Слоган.</div>
            </div>
        </header>

        <nav class="menu" id="main-menu">
            <button class="menu-toggle" id="toggle-menu">Меню.</button>
            <div class="menu-dropdown">
                <ul class="nav-menu">
                    <li><a>Меню будет скрыто на мобильных устройствах.</a></li>
                    <li><a href="/not_define">Ссылка 1.</a></li>
                    <li><a href="/not_define">Ссылка 2.</a></li>
                    <li><a href="/not_define">Ссылка 3.</a></li>
                    <li><a href="/not_define">Ссылка 4.</a></li>
                </ul>
            </div>
        </nav>

        <aside id="hero" class="hero">
            Меню nav-menu расположено там, где оно может удовлетворить
            потребности как мобильной, так и настольной версии.
            Классы row и column позволяют создать макет для настольной версии.
        </aside>

        <main id="main">
            <div class="row">

                <h1>Для мобильной версии секции с классом column размещаются горизонтально.</h1>

                <section class="column">
                    <h2 class="subtitle">Первая колонка.</h2>
                    <p>
                        Программы экранного доступа в качестве ориентиров используют
                        элементы [form, main, nav, aside].
                    </p>
                </section>

                <section class="column">
                    <h2 class="subtitle">Вторая колонка.</h2>
                    <p>
                        Кнопка меню должна находится внутри элемента nav, иначе будет
                        сложно найти кнопку меню через программу экранного доступа.
                    </p>
                </section>

                <section class="column">
                    <h2 class="subtitle">Третья колонка.</h2>
                    <p>
                        Кнопки, ссылки и другие ключевые области должны быть достаточно
                        большими, чтобы их можно было легко коснуться пальцем
                    </p>
                </section>
            </div>
        </main>
    </div>

    <div id="example-2">
        <header id="header" class="page-header">
            <div class="title">
                <h1>Средняя версия макета.</h1>
                <div class="slogan">Слоган.</div>
            </div>
        </header>
        <nav class="menu" id="main-menu">
            <button class="menu-toggle" id="toggle-menu">Меню.</button>
            <div class="menu-dropdown">
                <ul class="nav-menu">
                    <li><a href="/not_define">Ссылка 1.</a></li>
                    <li><a href="/not_define">Ссылка 2.</a></li>
                    <li><a href="/not_define">Ссылка 3.</a></li>
                    <li><a href="/not_define">Ссылка 4.</a></li>
                </ul>
            </div>
        </nav>
        <aside id="hero" class="hero">Описание.</aside>
        <main id="main">
            <div class="row">
                <section class="column">
                    <h2 class="subtitle">Первая колонка.</h2>
                    <p>Контент</p>
                </section>
                <section class="column">
                    <h2 class="subtitle">Вторая колонка.</h2>
                    <p>Контент</p>
                </section>
                <section class="column">
                    <h2 class="subtitle">Третья колонка.</h2>
                    <p>Контент</p>
                </section>
            </div>
        </main>
    </div>

    <div id="example-3">
        <header id="header" class="page-header">
            <div class="title">
                <h1>Резиновый макет.</h1>
                <div class="slogan">Слоган.</div>
            </div>
        </header>
        <nav class="menu" id="main-menu">
            <button class="menu-toggle" id="toggle-menu">Меню.</button>
            <div class="menu-dropdown">
                <ul class="nav-menu">
                    <li><a href="/not_define">Ссылка 1.</a></li>
                    <li><a href="/not_define">Ссылка 2.</a></li>
                    <li><a href="/not_define">Ссылка 3.</a></li>
                    <li><a href="/not_define">Ссылка 4.</a></li>
                </ul>
            </div>
        </nav>
        <aside id="hero" class="hero">Описание.</aside>
        <main id="main">
            <div class="row">
                <section class="column">
                    <h2 class="subtitle">Первая колонка.</h2>
                    <p>Контент</p>
                </section>
                <section class="column">
                    <h2 class="subtitle">Вторая колонка.</h2>
                    <p>Контент</p>
                </section>
                <section class="column">
                    <h2 class="subtitle">Третья колонка.</h2>
                    <p>Контент</p>
                </section>
            </div>
        </main>

        <div id="example-4">
            <h2>Таблица в резиновом макете.</h2>
            <table>
                <thead>
                    <tr>
                        <th>Поле 1.</th>
                        <th>Поле 2.</th>
                        <th>Поле 3.</th>
                        <th>Поле 4.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Строка 1 - Значение 1.</td>
                        <td>Строка 1 - Значение 2.</td>
                        <td>Строка 1 - Значение 3.</td>
                        <td>Строка 1 - Значение 4.</td>
                    </tr>
                    <tr>
                        <td>Строка 2 - Значение 1.</td>
                        <td>Строка 2 - Значение 2.</td>
                        <td>Строка 2 - Значение 3.</td>
                        <td>Строка 2 - Значение 4.</td>
                    </tr>
                    <tr>
                        <td>Строка 3 - Значение 1.</td>
                        <td>Строка 3 - Значение 2.</td>
                        <td>Строка 3 - Значение 3.</td>
                        <td>Строка 3 - Значение 4.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="example-5">
        <h3>Адаптивное изображение.</h3>
        <img alt="Адаптивное изображение." 
            srcset="coffee-small.jpg 560w, coffee-medium.jpg 800w, coffee-big.jpg 1280w">
    </div>
</div>