<header>
    <p class="real-header">Фоны, тени и режимы смешивания.</p>
</header>

<div class="body">
    <div id="example-1" class="container">
        <h2>Градиенты.</h2>
        <div class="fade-1"></div>
        <div class="fade-2"></div>
        <div class="fade-3"></div>
        <div class="fade-4"></div>
        <div class="fade-5"></div>
        <div class="fade-6"></div>
        <div class="fade-7"></div>
        <div class="fade-8"></div>
        <div class="fade-9"></div>
        <div class="fade-10"></div>
        <div class="fade-11"></div>
    </div>

    <div id="example-2" class="container">
        <h2>Тени.</h2>
        <button class="button-1">Sign up now</button>
        <button class="button-2">Sign up now</button>
        <button class="button-3">Sign up now</button>
    </div>

    <div id="example-3" class="container">
        <h2>Режимы смешивания.</h2>
        <div class="blend-1"></div>
        <div class="blend-2"></div>
        <div class="blend-3"></div>
        <div class="blend-4">
            <h1>Ursa Major</h1>
        </div>
    </div>
</div>