<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="./first.js"></script>
    <script src="./second.js"></script>
    <script src="./third.js"></script>
</head>

<body>
    {{{body}}}
    <h3>Шаблоны.</h3>
    <p>Здесь мы определили шаблон макета, который будет использоваться для каждого представления. Handlebars создаст
        HTML-страницы, начинающиеся с этого шаблона, а затем заменит любой конкретный шаблон представления в теге
        &#123;&#123;&#123;body&#125;&#125;&#125;.</p>
</body>

</html>