<header>
    <p class="real-header">Контраст, цвета и интервалы.</p>
</header>

<div class="body">
    <div id="example-1" class="container">

        <nav class="nav-container">
            <div class="nav-container__inner">
                <a class="home-link" href="/">Контейнер верхней панели навигаци.</a>
                <ul class="top-nav">
                    <li><a href="/not_define">Features</a></li>
                    <li><a href="/not_define">Pricing</a></li>
                    <li><a href="/not_define">Support</a></li>
                    <li class="top-nav__featured"><a href="/not_define">Login</a></li>
                </ul>
            </div>
        </nav>

        <div class="hero">
            <div class="hero__inner">
                <h2>Крупное hero-изображение.</h2>
                <a href="/not_define" class="button button--cta">Get started</a>
            </div>
        </div>

        <div class="container">
            <h2></h2>
            <div class="tile-row">
                <div class="tile">
                    <h4>Секреты дизайнера.</h4>
                    <p>
                        Глаза и мозг неосознанно ищут шаблоны и все что выбивается из шаблона сразу бросается в глаза.
                        Следует создать общий шаблон и резко менять его для привлечения внимания к деталям.
                        Глаза лучше воспринимают серые цвета с небольшой примесью, даже если она незаметна.
                    </p>
                    <a href="/not_define" class="button">Read more</a>
                </div>

                <div class="tile">
                    <h4>Строка с трехколоночным блоком.</h4>
                    <p>
                        <a href="/not_define">Ссылка.</a>
                    </p>
                    <ul class="tag-list">
                        <li>Web</li>
                        <li>iOS</li>
                        <li>Android</li>
                        <li>Windows Phone</li>
                    </ul>
                    <a href="/not_define" class="button">Read more</a>
                </div>

                <div class="tile">
                    <h4>Интервалы.</h4>
                    <p>
                        При растановки интервалов следует обратить внимание на два вопроса: использовать или нет
                        относительные единицы измерения и как высота строки влияет на вертикальные отступы.
                    </p>
                    <a href="/not_define" class="button">Read more</a>
                </div>
            </div>
        </div>

        <footer class="page-footer">
            <div class="page-footer__inner">
                Подвал.
            </div>
        </footer>
    </div>
</div>