<header>
    <p class="real-header">Шрифтовое оформление.</p>
</header>

<div class="body">
    <div id="example-1">

        <nav class="nav-container">
            <div class="nav-container__inner">
                <a class="home-link" href="/">Ink</a>
                <ul class="top-nav">
                    <li><a href="/not_define">Features</a></li>
                    <li><a href="/not_define">Pricing</a></li>
                    <li><a href="/not_define">Support</a></li>
                    <li class="top-nav__featured"><a href="/not_define">Login</a></li>
                </ul>
            </div>
        </nav>
        <div class="hero">
            <div class="hero__inner">
                <h2>Про шрифты.</h2>
                <a href="/sign-up" class="button button--cta">Get started</a>
            </div>
        </div>

        <div class="container">
            <div class="tile-row">
                <div class="tile">
                    <h4>Шрифты.</h4>
                    <p>
                        Использование разных шрифтов для заголовка и основной текста является
                        распространенной практикой. Для заголовка часто используется шрифт
                        с засечками (антиква), а для основного текста без засечек (рубленный или гротеск).
                        Шрифты могут сильно замедлять загрузку страницы, поэтому следует выбирать только 
                        действительно нужные начертания шрифта.
                    </p>
                    <a href="/" class="button">Read more</a>
                </div>

                <div class="tile">
                    <h4>Вертикальный ритм.</h4>
                    <p>
                        Вертикальный ритм это сетка из базовых линий с одинаковыми расстояниями между
                        строками. Большая часть текста должна размещаться на этих линиях. Так текст с
                        разными размерами шрифта и интервалами между букв создает вертикальную гармонию.
                        <a href="https://zellwk.com/blog/why-vertical-rhythms/">
                            Why is Vertical Rhythm an Important Typography Practice?
                        </a>
                    </p>
                    <a href="/" class="button">Read more</a>
                </div>

                <div class="tile">
                    <h4><a href="https://fonts.google.com">Сервис Google Fonts.</a></h4>
                    <p>
                        Сервис содержит множество бесплатных шрифтов. При выборе гарнитуры можно посмотреть
                        как добавить шрифт в HTML-код или в CSS-таблицу.
                    </p>
                    <a href="/" class="button">Read more</a>
                </div>
            </div>
        </div>

        <footer class="page-footer">
            <div class="page-footer__inner">
                Copyright &copy; 2017 Ink, Inc.
            </div>
        </footer>

    </div>
</div>