/* --------------- Адаптивное базовое свойство font-size. */

:root {
    /* применяется ко всем экранам, но переопределяется для больших размеров экрана */
    font-size: 0.75em;
    --main-background-color: #fff;
}

@media (min-width: 800px) {
    /* применяется только к экранам шириной 800px и больше, переопределяя оригинальное значение */
    :root {
        font-size: 0.875em;
    }
}

@media (min-width: 1200px) {
    /* применяется только к экранам шириной 1200px и больше, переопределяя оба значения */
    :root {
        font-size: 1em;
    }
}