<header>
    <p class="real-header">flexbox-верстки.</p>
</header>

<div class="body">
    <div id="example-1" class="container">
        <header>
            <h1>flexbox-верстка</h1>
        </header>
        <nav>
            <ul class="site-nav">
                <li><a href="/not_define">Ссылка 1.</a></li>
                <li><a href="/not_define">Ссылка 2.</a></li>
                <li><a href="/not_define">Ссылка 3.</a></li>
                <li><a href="/not_define">Ссылка 4.</a></li>
                <li class="nav-right">
                    <a href="/not_define">Панель навигации.</a>
                </li>
            </ul>
        </nav>
        <main class="flex">
            <div class="column-main tile">
                <h2>Основной блок контента.</h2>
                <h3>flexbox-верстка:</h3>
                <ul>
                    <li>задать контейнер с элементами применив свойство 'display: flex'</li>
                    <li>установить для flex-контейнера свойство flex-direction</li>
                    <li>установить для flex-элементов свойство flex и поля</li>
                </ul>
                <h3>Flexbugs (github.com/pholipwalton/flexbugs)</h3>
            </div>
            <div class="column-sidebar">
                <p>Боковая панель содержит два блока по вертикале</p>
                <p>Высота контейнера задается внешним flex-блоком</p>
                <p>Flex-элементы внутреннего flex-блока полностью заполняют высоту.</p>
                <div class="tile">
                    <form class="login-form">
                        <h3>Login</h3>
                        <p>
                            <label for="username">Username</label>
                            <input id="username" type="text" name="username" />
                        </p>
                        <p>
                            <label for="password">Password</label>
                            <input id="password" type="password" name="password" />
                        </p>
                        <button type="submit">Login</button>
                    </form>
                </div>
                <div class="tile centered">
                    <small>Starting at</small>
                    <div class="cost">
                        <span class="cost-currency">$</span>
                        <span class="cost-dollars">20</span>
                        <span class="cost-cents">.00</span>
                    </div>
                    <a class="cta-button" href="/not_define">Sign up</a>
                </div>
            </div>
        </main>
        <main class="flex">
            <div class="column-33 tile">
                <p>flex: 0 1 66.67%</p>
            </div>
            <div class="column-66 tile">
                <p>flex: 0 10 33.33%</p>
            </div>
        </main>
        <main class="flex">
            <div class="column-3 tile">
                <p>flex: 0 3 100%</p>
            </div>
            <div class="column-7 tile">
                <p>flex: 0 7 100%</p>
            </div>
        </main>
    </div>
</div>