<div class="form-group m-t-1">

    <h2>Формы.</h2>

    <hr color="green">
    <h3>Привязки событий.</h3>

    <div class="form-group">
        <div class="bg-info p-a-1">Выбран продукт: {{selectedProduct || 'none'}}</div>
        <div>Ссылочная переменная #product: {{product.value || '(None)'}}</div>

        <table class="table table-sm table-bordered m-t-1">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
            </tr>
            <tr *ngFor="let item of getProducts(); let i = index">
                <td (mouseover)="selectedProduct=item.name" [class.bg-info]="isProductEqualSelected(item)">{{i + 1}}</td>
                <td (mouseover)="product.value=(item.name === undefined ? '' : item.name)"
                    [class.bg-info]="product.value==item.name">{{item.name}}</td>
                <td>{{item.category}}</td>
                <td>{{item.price}}</td>
            </tr>
        </table>

        <label>Посмотреть $event в отладчике:</label>
        <input class="form-control" (input)="consoleEventTarget($event)" />

        <div>
            <label>Ссылочная переменная в консоли:</label>
            <input id="selected_name" class="form-control" #selectedName (input)="selectedProduct=selectedName.value" />
            <p>(input)="selectedProduct=selectedName.value"</p>
            <p>document.getElementById('selected_name').value</p>
        </div>

        <div>
            <label>Ссылочная переменная product:</label>
            <input class="form-control" #product (input)="false" />
        </div>
    </div>

    <hr color="green">
    <h2>Двусторонние привязки данных.</h2>

    <div class="form-group">

        <label>Синхронизированное поле 0 (событие keyup при нажатии enter)</label>
        <input #enter_product class="form-control" (keyup.enter)="selectedProduct=enter_product.value"
            [value]="selectedProduct || ''" />

        <div class="form-group">
            <label>Синхронизированное поле 1 (две 1-ие привязки)</label>
            <input class="form-control" (input)="setSelectedProduct($event.target)" [value]="selectedProduct || ''" />
        </div>

        <div class="form-group">
            <label>Синхронизированное поле 2 (две 1-ие привязки)</label>
            <input class="form-control" (input)="setSelectedProduct($event.target)" [value]="selectedProduct || ''" />
        </div>

        <div class="form-group">
            <label>Синхронизированное поле 3 (одна 2-яя привязка)</label>
            <input class="form-control" [(ngModel)]="selectedProduct" />
        </div>
    </div>

    <hr color="green">
    <h1>Формы и валидация.</h1>

    <style>
        input.ng-dirty.ng-invalid {
            border: 2px solid #ff0000
        }

        input.ng-dirty.ng-valid {
            border: 2px solid #6bc502
        }
    </style>

    <hr color="green">
    <h2>Простая валидация - '#ngModelRef="ngModel"'.</h2>

    <form novalidate #ngFormRef="ngForm" (ngSubmit)="submitForm(ngFormRef)">

        <div class="bg-danger p-a-1 m-b-1" *ngIf="isFormSubmit && ngFormRef.invalid"> Проблемы с формой. </div>

        <div class="form-group">
            <label>Name</label>
            <input class="form-control" name="name" [(ngModel)]="currentProduct.name" #ngModelRef="ngModel" required
                minlength="5" pattern="^[a-z]+$" />

            <div>
                <p>вывод ошибок валидации через #ngModelRef="ngModel"</p>
                <ul class="text-danger list-unstyled" *ngIf="ngModelRef.dirty && ngModelRef.invalid">
                    <li *ngIf="ngModelRef.errors?.required">
                        1.1 - введите название продукта
                    </li>
                    <li *ngIf="ngModelRef.errors?.pattern">
                        1.2 - название должно содержать только буквы
                    </li>
                    <li *ngIf="ngModelRef.errors?.minlength">
                        1.3 - минимальная длина имени {{ngModelRef.errors?.minlength?.requiredLength}}
                    </li>
                </ul>
            </div>

            <div>
                <p>вывод ошибок валидации через getValidationMessages(ngModelRef)</p>
                <ul class="text-danger list-unstyled" *ngIf="(isFormSubmit || ngModelRef.dirty) && ngModelRef.invalid">
                    <li *ngFor="let error of getValidationMessages(ngModelRef)">
                        {{error}}
                    </li>
                </ul>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">
            Create
        </button>
    </form>

    <hr color="green">
    <h2>Кастомная валидация. Форма на базе модели.</h2>
    <hr color="Red" />

    <div>

        <p>Директиве formGroup присваивается объект типа ProductFormGroup наследующий класс FormGroup.</p>
        <p>forControlName идентифицирует элемент input в форме на базе модели по имени из ProductFormGroup.</p>

        <form novalidate [formGroup]="productForm" (ngSubmit)="submitProductForm(productForm)">

            <div class="bg-danger p-a-1 m-b-1" *ngIf="isFormSubmit && productForm.invalid">
                There are problems with the form
                <ul>
                    <li *ngFor="let error of productForm.getFormValidationMessages()"> {{error}} </li>
                </ul>
            </div>

            <div class="bg-info p-a-1 m-b-1">JSON модель создаваемого продукта: {{ jsonProduct }}</div>

            <hr color="Red" />

            <button class="btn btn-primary" (click)="test1(productForm.controls)">
                Протестировать: form.controls.
            </button><br>

            <button class="btn btn-primary" (click)="addProduct(currentProduct)">
                Создать продукт без валидации.
            </button><br>

            <button class="btn btn-primary" (click)="isFormSubmit=false">
                Сбросить флаг isFormSubmit.
            </button><br>            

            <hr color="Red" />

            <div class="form-group">
                <label>Name</label>
                <input class="form-control" name="name" [(ngModel)]="currentProduct.name" formControlName="name" />
                <ul class="text-danger list-unstyled"
                    *ngIf="(isFormSubmit || productForm.controls['name'].dirty) && productForm.controls['name'].invalid">
                    <li *ngFor="let error of getControlValidationMessages(productForm, 'name')"> {{error}} </li>
                </ul>
            </div>

            <div class="form-group">
                <label>Category</label>
                <input class="form-control" name="name" [(ngModel)]="currentProduct.category" formControlName="category" />
                <ul class="text-danger list-unstyled"
                    *ngIf="(isFormSubmit || productForm.controls['category'].dirty) && productForm.controls['category'].invalid">
                    <li *ngFor="let error of getControlValidationMessages(productForm, 'category')"> {{error}} </li>
                </ul>
            </div>

            <div class="form-group">
                <label>Price</label>
                <input class="form-control" name="price" [(ngModel)]="currentProduct.price" formControlName="price" />
                <ul class="text-danger list-unstyled"
                    *ngIf="(isFormSubmit || productForm.controls['price'].dirty) && productForm.controls['price'].invalid">
                    <li *ngFor="let error of getControlValidationMessages(productForm, 'price')"> {{error}} </li>
                </ul>
            </div>

            <hr color="Red" />
            <p>Генерация элементов формы:</p>

            <p>refactoring - Выражение 'currentProduct[control.modelProperty]' не работает!</p>
            <p>Ошибка: Element implicitly has an 'any' type because expression of type 'string' can't be used to index
                type 'Product'. No index signature with a parameter of type 'string' was found on type 'Product'.</p>

            <div class="form-group" *ngFor="let control of productForm.productControls">
                <label>label = {{ control.label }} --- modelProperty = {{ control.modelProperty }}</label>
                <div class="bg-info p-a-1 m-t-1" [ngSwitch]="control.modelProperty">
                    <input *ngSwitchCase="'name'" class="form-control" [(ngModel)]="currentProduct.name"
                        name="{{control.modelProperty}}" formControlName="{{control.modelProperty}}" />
                    <input *ngSwitchCase="'category'" class="form-control" [(ngModel)]="currentProduct.category"
                        name="{{control.modelProperty}}" formControlName="{{control.modelProperty}}" />
                    <input *ngSwitchCase="'price'" class="form-control" [(ngModel)]="currentProduct.price"
                        name="{{control.modelProperty}}" formControlName="{{control.modelProperty}}" />
                </div>
                <ul class="text-danger list-unstyled" *ngIf="(isFormSubmit || control.dirty) && control.invalid">
                    <li *ngFor="let error of control.getValidationMessages()">
                        {{error}}
                    </li>
                </ul>
            </div>
            <hr color="Red" />

            <button class="btn btn-primary" type="submit" [disabled]="isFormSubmit && productForm.invalid"
                [class.btn-secondary]="isFormSubmit && productForm.invalid"> Create </button>
        </form>
    </div>

</div>
