.real-header {
    color: red;
    padding: 20px;
    font-size: 20px;
}

[id^="example-"] {
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    margin: 5px;
    --bg-color: darkgray;
}

/* --------------- Базовые стили на самостоятельной странице. */

/* 
 * свойства box-sizing:
 * 
 *      :root {
 *          box-sizing: border-box;
 *      }
 * 
 *      *, ::before, ::after {
 *          box-sizing: inherit;
 *      }
 *
 * фон и шрифт:
 *
 *      body {
 *          background-color: #709b90;
 *          font-family: Helvetica, Arial, sans-serif;
 *      }
 * 
 * глобальные поля:
 * 
 *      body *+* {
 *          margin-top: 1.5em;
 *      }
 * 
 * двойной контейнер для центрирования контента:
 * 
 *      .container {
 *          max-width: 1080px;
 *          margin: 0 auto;
 *      }
 */

/* --------------- Базовые стили. */

/* свойства box-sizing */

.body {
    box-sizing: border-box;
}

.body *, .body ::before, .body ::after {
    box-sizing: inherit;
}

/* фон и шрифт */

.body {
    background-color: #92c3b7;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

/* глобальные поля */

.body *+* {
    margin-top: 1.5em;
}

/* двойной контейнер для центрирования контента */

.body .container {
    max-width: 1080px;
    margin: 0 auto;
}

/* --------------- Фиксированное позиционирование. */

#example-1 button {
    padding: .5em .7em;
    border: 1px solid #8d8d8d;
    background-color: white;
    font-size: 1em;
}

#example-1 .top-banner {
    padding: 1em 0;
    background-color: #ffd698;
}

#example-1 .top-banner-inner {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

#example-1 .modal {
    /* по умолчанию скрывает модальное окно */
    display: none;
}

#example-1 .modal-backdrop {
    /* 
     * полупрозрачный фон, затеняющий остальную часть страницы, пока 
     *      модальное окно открыто 
     */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#example-1 .modal-body {
    /* позиционирует модальное окно */
    position: fixed;
    top: 3em;
    bottom: 3em;
    right: 20%;
    left: 20%;
    padding: 2em 3em;
    background-color: white;
    /* позволяет прокручивать тело модального окна, если необходимо */
    overflow: auto;
}

/* --------------- Абсолютное позиционирование. */

#example-1 .modal-close {
    position: absolute;
    top: 0.3em;
    right: 0.3em;
    padding: 0.3em;
    cursor: pointer;
}

#example-1 .modal-close {
    /* квадратная кнопка */
    font-size: 2em;
    height: 1em;
    width: 1em;
    border: 0;
    /* 
     * смещает текст вправо, за пределы элемента, значение должно быть 
     *      больше ширины кнопки 
     */
    text-indent: 10em;
    /* текст скрывается */
    overflow: hidden;
}

/*
 * чтобы отобразить 'x' следует: вытолкнуть текст кнопки за ее пределы, скрыть, 
 *      добавить 'x' при помощи свойства content и центрировать внутри кнопки 
 *      через абсолютное позиционирование
 */

#example-1 .modal-close::after {
    /* 
     * псевдоэлемент будет вести себя как дочерний элемент кнопки, которая 
     *      является containing block для псевдоэлемента 
     */
    position: absolute;
    /* ограничивает высоту псевдоэлемента */
    line-height: 0.5;
    /* свойства top и left размещают псевдоэлемент в центре кнопки */
    top: 0.2em;
    left: 0.2em;
    /*  
     * свойство text-indent наследуется, поэтому оно сбрасывается 
     *      для дочернего псевдоэлемента
     */
    text-indent: 0;
    /* символ '00D7' это знак умножения */
    content: "\00D7";
}

/* --------------- Относительное позиционирование. */

#example-2 .container {
    width: 80%;
    max-width: 1000px;
    margin: 1em auto
}

#example-2 .dropdown, #example-4 .dropdown {
    display: inline-block;
    /* установка содержащего блока */
    position: relative;
}

#example-2 .dropdown-label, #example-4 .dropdown-label {
    padding: 0.5em 1.5em;
    border: 1px solid #ccc;
    background-color: #eee;
}

#example-2 .dropdown-menu, #example-4 .dropdown-menu {
    /* меню скрыто */
    display: none;
    position: absolute;
    /* выровнять левую сторону по левой стороне раскрывающегося меню */
    left: 0;
    /* поместить верхний край под меткой */
    top: 2.1em;
    /* 
     * метка будет аткой же широкий как и контейнер меню, ширина которого 
     *      определяется элементом dropdown-label 
     */
    min-width: 100%;
    background-color: #eee;
}

/* меню при наведении указателя мыши */

#example-2 .dropdown, #example-4 .dropdown {
    width: 150px;
}

#example-2 .dropdown:hover .dropdown-menu, #example-4 .dropdown:hover .dropdown-menu {
    /* контейнер будет отображаться пока курсор находится над любым элементом контейнера */
    display: block;
    margin: 0px;
}

#example-2 .dropdown-menu li, #example-4 .dropdown-menu li {
    margin: 0px;
}

#example-2 .submenu, #example-4 .submenu {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    border: 1px solid #999;
}

#example-2 .submenu>li+li, #example-4 .submenu>li+li {
    border-top: 1px solid #999;
}

#example-2 .submenu>li>a, #example-4 .submenu>li>a {
    display: block;
    padding: 0.5em 1.5em;
    background-color: #eee;
    color: #369;
    text-decoration: none;
}

#example-2 .submenu>li>a:hover, #example-4 .submenu>li>a:hover {
    background-color: #fff;
}

/* --------------- Абсолютное позиционирование треугольника. */

/* CSS-фигуры: css-tricks.com/examples/ShapesOfCSS */

#example-2 .dropdown-label, #example-4 .dropdown-label {
    /* 
     * у псевдоэлемента нет контента, поэтому он не имеет высоты или ширины, 
     *      правый отступ для треугольника 
     */
    padding: 0.5em 2em 0.5em 1.5em;
}

#example-2 .dropdown-label::after, #example-4 .dropdown-label::after {
    content: "";
    /* позиционирование элемента справа от метки*/
    position: absolute;
    right: 1em;
    top: 1em;
    /* применение верхней границы для создания треугольника с углом вниз */
    border: 0.3em solid;
    border-color: black transparent transparent;
}

#example-2 .dropdown:hover .dropdown-label::after, #example-4 .dropdown:hover .dropdown-label::after {
    top: 0.7em;
    /* треугольник меняется при наведении курсора */
    border-color: transparent transparent black;
}

/* --------------- z-индекс. */

/*
 * РЕКОМЕНДАЦИЯ:
 *      - чтобы лучше понимать порядок отображения элементов следует установить 
 *          значения z-index как CSS-свойства в одном месте таблицы стилей;
 *      - модальные окна следует добавлять в конец страницы перед тегом body,
 *          большинство библиотек создания модальных окон делают то же самое 
 *          автоматически;
 *      - если свойство z-index работает не правильно, то следует найти корень 
 *          контекст наложения и настроить для корня свойства z-index, что позволит 
 *          перенести весь контекст наложения;
 */

#example-1 .modal-backdrop {
    /* элемент 'modal-backdrop' выводится поверх статических элементов */
    z-index: 1;
}

#example-1 .modal-body {
    /* элемент 'modal-body' выводится поверх элемента 'modal-backdrop' */
    z-index: 2;
}

/* --------------- Контекст наложения. */

#example-3 {
    margin: 40px;
}

#example-3 .box {
    display: inline-block;
    height: 200px;
    width: 200px;
    line-height: 200px;
    text-align: center;
    border: 2px solid black;
    background-color: #ea5;
    margin-left: -60px;
    vertical-align: top;
}

#example-3 .one {
    margin-left: 0;
}

#example-3 .two {
    margin-top: 30px;
}

#example-3 .three {
    margin-top: 60px;
}

/* блоки устанавливают контекст наложения со свойством 'z-index: 1' */

#example-3 .positioned {
    position: relative;
    background-color: #5ae;
    z-index: 1;
}

#example-3 .absolute {
    position: absolute;
    top: 1em;
    right: 1em;
    height: 2em;
    background-color: #fff;
    border: 2px dashed #888;
    /* свойство z-index определяет позицию наложения элемента в его контексте наложения */
    z-index: 100;
    line-height: initial;
    padding: 1em;
}

/* --------------- Липкое позиционирование. */

#example-4 .container {
    /* flex-контейнер для двухколоночного макета */
    display: flex;
    width: 80%;
    max-width: 1000px;
    margin: 1em auto;
    /* 
     * родительский элемент должен быть выше липкого элемента, чтобы он мог 
     *      правильно расположиться 
     */
    min-height: 100vh;
}

/* компоновка двух колонок */

#example-4 .col-main {
    flex: 1 80%;
}

#example-4 .col-sidebar {
    flex: 20%;
}

/* применение липкого позиционирования к боковому меню */

#example-4 .affix {
    position: sticky;
    /* боковое меню размещается в 1em от верхнего края области просмотра */
    top: 1em;
}