.real-header {
    color: red;
    padding: 20px;
    font-size: 20px;
}

[id^="example-"] {
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    margin: 5px;
}

/* --------------- Базовые стили на самостоятельной странице. */

/* 
 * свойства box-sizing:
 * 
 *      :root {
 *          box-sizing: border-box;
 *      }
 * 
 *      *, ::before, ::after {
 *          box-sizing: inherit;
 *      }
 *
 * фон и шрифт:
 *
 *      body {
 *          background-color: #709b90;
 *          font-family: Helvetica, Arial, sans-serif;
 *      }
 * 
 * глобальные поля:
 * 
 *      body *+* {
 *          margin-top: 1.5em;
 *      }
 * 
 * двойной контейнер для центрирования контента:
 * 
 *      .container {
 *          max-width: 1080px;
 *          margin: 0 auto;
 *      }
 */

/* --------------- Базовые стили. */

/* в компоненте селектор '.body' заменяет селектор 'html' */

/* 
 * CSS-переменные в шестнадцатеричном формате:
 * --brand-green: #076448;
 * --dark-green: #099268;
 * --medium-green: #20c997;
 * --text-color: #212529;
 * --gray: #868e96;
 * --light-gray: #f1f3f5;
 * --extra-light-gray: #f8f9fa;
 * --white: #fff;
 */

.body {
    /* зеленые цвета имеют один и тот же оттенок */
    --brand-green: hsl(162, 87%, 21%);
    --dark-green: hsl(162, 88%, 30%);
    --medium-green: hsl(162, 73%, 46%);
    /* цвет текста, серые цвета не чисто серые */
    --text-color: hsl(210, 11%, 15%);
    --gray: hsl(210, 7%, 56%);
    --light-gray: hsl(210, 17%, 95%);
    --extra-light-gray: hsl(210, 17%, 98%);
    --white: hsl(0, 0%, 100%);
    /* глобальные настройки цвета и box-sizing */
    box-sizing: border-box;
    color: var(--text-color);
}

/* свойства box-sizing */

.body *, .body ::before, .body ::after {
    box-sizing: inherit;
}

/* фон и шрифт */

.body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.4;
    background-color: var(--extra-light-gray);
}

h1, h2, h3, h4 {
    /* установка шрифтов заголовка */
    font-family: Georgia, serif;
}

a {
    color: var(--medium-green);
}

a:visited {
    color: var(--brand-green);
}

a:hover {
    color: var(--brand-green);
}

/* --------------- Стили шапки. */

.nav-container {
    background-color: var(--medium-green);
}

.nav-container__inner {
    /* применяется шаблон двойного контейнера, выравнивание элемента по центру */
    display: flex;
    /* расталкивает контент к разным краям, home-link влево, top-nav вправо */
    justify-content: space-between;
    /* центрирование контента и ограничение его по ширине до 1080 пикселов */
    max-width: 1080px;
    margin: 0 auto;
}

.home-link {
    color: var(--text-color);
    font-size: 1.6rem;
    font-family: Georgia, serif;
    font-weight: bold;
    text-decoration: none;
}

.top-nav {
    /* flexbox-верстка размещает ссылки в строку */
    display: flex;
    /* убрать маркеры списка */
    list-style-type: none;
}

.top-nav a {
    /* цвета и отступы элементов навигации */
    display: block;
    padding: 0.3em 1.25em;
    color: var(--white);
    background: var(--brand-green);
    text-decoration: none;
    border-radius: 3px;
}

.top-nav a:hover {
    background-color: var(--dark-green);
}

.top-nav__featured>a {
    color: var(--brand-green);
    background-color: var(--white);
}

.top-nav__featured>a:hover {
    color: var(--medium-green);
    background-color: var(--white);
}

/* --------------- Стили hero-изображения и кнопки. */

.hero {
    background: url("./../assets/big.jpg") no-repeat;
    background-size: cover;
    margin-bottom: 2.5rem;
}

.hero__inner {
    /* шаблон двойного контейнера */
    max-width: 1080px;
    margin: 0 auto;
    /* позиционировании слогана и кнопки */
    padding: 50px 0 200px;
    text-align: right;
}

.hero h2 {
    font-size: 1.95rem;
}

/* --------------- Модуль Button. */

.button {
    display: inline-block;
    /* стандартные стили кнопок */
    padding: 0.4em 1em;
    color: var(--brand-green);
    border: 2px solid var(--brand-green);
    border-radius: 0.2em;
    text-decoration: none;
    font-size: 1rem;
}

.button:hover {
    background-color: var(--dark-green);
    color: var(--white);
}

/* 
 * CTA (call to action - "призыв к действию") обозначает ключевой элемент 
 *      к кторому следует привлечь внимание 
 */

.button--cta {
    /* модификатор: CTA-кнопка */
    padding: 0.6em 1em;
    background-color: var(--brand-green);
    color: var(--white);
    border: none;
}

/* --------------- Три колонки и блоки с текстом. */

.container {
    margin: 0 auto;
    /* контейнер ограничивает ширину в 1080px */
    max-width: 1080px;
}

.tile-row {
    /* flex-контейнер */
    display: flex;
}

.tile-row>* {
    /* все колонки одинаковой ширины */
    flex: 1;
}

.tile {
    /* задает фон колонок */
    background-color: var(--white);
    border-radius: 0.3em;
}

/* --------------- Подвал страницы. */

/* подвал страницы наименее важная составляющая, поэтому он не должен выделяться */

.page-footer {
    margin-top: 3em;
    padding: 1em 0;
    /* светло-серый фон */
    background-color: var(--light-gray);
    /* серые буквы */
    color: var(--gray);
}

.page-footer__inner {
    margin: 0 auto;
    /* контейнер с ограничением ширины 1080px */
    max-width: 1080px;
    text-align: center;
    /* мелкий шрифт */
    font-size: 0.8rem;
}

/* --------------- Интервалы. */

.nav-container__inner {
    /* добавление отступа 10px сверху и снизу для всей панели */
    padding: 0.625em 0;
}

.top-nav {
    /* удаление стандартного поля */
    margin: 0;
}

.top-nav>li+li {
    /* восстановить отступ в 10px между элементами навигации */
    margin-left: 0.625em;
}

.hero {
    /* 
     * интервал 40px под hero-изображением: 
     * 40px (отступ по макету) / 16px (размер шрифта) = 2.5rem (относительный размер) 
     */
    margin-bottom: 2.5rem;
}

.tile-row>*+* {
    /* 25px (отступ по макету) / 16px (размер шрифта) = 1.5625em (относительный размер)  */
    margin-left: 1.5625em;
}

/*
 * - содержимое блока окружено последовательно: отступами, границами, полями
 * - высота элемента определяется не размером шрифта, а высотой строки, таким образом 
 *      элемент с шрифтом 16px и высотой строки 1.4em, по высоте будет:
 *      16px (размер шрифта) * 1.4em (высота строки) = 22.4px (высота строки в px),
 *      дополнительные пиксели распределяются над текстом и под ним:
 *      22.4px (высота строки в px) - 16px (размер шрифта) = 6.4px (дополнительные пиксели),
 *      что необходимо учитывать при задании отступов, сам текст центрируется по вертикали
 */

p {
    /* поля к абзацам */
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.tile {
    /* отступы внутри плиток */
    padding: 1.5625em;
}

.tile>h4 {
    /* поля под заголовком блока */
    margin-bottom: 1.5em;
}

/* 
 * вычислить размер шрифта:
 *      1.95rem (высота строки) * 16px (размер шрифта) = 31.2px (размер шрифта)
 * вычислить высоту строки:
 *      31.2px (размер локального шрифта) * 1.4em (высота строки) = 43.68px (высота строки в px)
 *      43px - 31px = 12px, по 6px сверху и снизу, если сверху уже есть отступ в 6px, то для 
 *                          достижения 95px нужны 89px над слоганом и 10px под ним
 *      89px / 16px = 5.5625em
 *      10px / 16px = 0.625em
 */

.hero__inner {
    max-width: 1080px;
    margin: 0 auto;
    /* точные расчеты отступов */
    padding: 5.56em 12.5em 12.5em 0;
    text-align: right;
}

.hero h2 {
    font-size: 1.95rem;
    /* 
     * удаление верхнего поля, нужные расстояния заданы отступом 
     *      в контейнере hero_ inner 
     */
    margin-top: 0;
    /* настройка интервала между слоганом и кнопкой */
    margin-bottom: 0.625rem;
}

/*
 * элементы можно расставить в строку через flexbox-верстку или строчные элементы, 
 *      во втором варианте используется свойство 'display: inline' и увеличение 
 *      строки, если строчные элементы переносятся на вторую строку с перекрытием 
 *      фона друг друга
 */

.tag-list {
    /* замещение браузерных стилей */
    list-style: none;
    padding-left: 0;
}

.tag-list>li {
    /* использовать строчные элементы, чтобы выстроить элементы в строку */
    display: inline;
    padding: 0.3rem 0.5rem;
    font-size: 0.8rem;
    border-radius: 0.2rem;
    background-color: var(--light-gray);
    /* 
     * увеличение высоты строки, чтобы добавить вертикальный интервал и 
     *      избежать наложения строк 
     */
    line-height: 2.6;
}

/* --------------- Как выбирать цвет. */

/*
 * - простой способ найти сочетающиеся цвета заключается в использовании 
 *      комплементарных цветов, это цвета находящиеся на противоположных 
 *      сторонах цветового круга: синий - желтый, зеленый - пурпурный, 
 *      красный - бирюзовый
 * - чтобы найти комплементарный цвет в формате HLS нужно прибавить 180 
 *      к значению оттенка 
 * - чтобы понизить внимание на элементе следует уменьшить интенсивность цвета
 * - теория цвета:
 *      https://tallys.github.io/color-theory/
 */

a:active {
    --link-red: hsl(342, 87%, 21%);
    color: var(--link-red);
}