<header>
    <p class="real-header">Переходы.</p>
</header>

<div class="body">

    <div id="example-1">
        <div class="card">
            <img src="./../../../assets/transformations/home.svg" alt="a chicken" />
            <h4>Mrs. Featherstone</h4>
            <p>
                Разметка состоит из заголовка header и элемента nav, который состоит из неупорядоченного списка ссылок.
                Каждая ссылка представляет собой SVG-значок и метку.
            </p>
            <p>
                SVG — сокращение от Scalable Vector Graphics (масштабируемая векторная графика). Это формат изображения,
                основанный на XML, который определяет изображение с помощью векторов. А так как изображение определяется
                математически, его можно сжимать и растягивать до любых размеров. Формат SVG поддерживают все браузеры.
            </p>
        </div>
    </div>

    <div id="example-2">
        <header>
            <h1 class="page-header">Масштабирование значков.</h1>
        </header>
        <nav class="main-nav">
            <h3 class="page-header">Масштабирование значков.</h3>
            <ul class="nav-links">
                <li>
                    <a href="/">
                        <img src="./../../../assets/transformations/home.svg" class="nav-links__icon" />
                        <span class="nav-links__label">Home</span>
                    </a>
                </li>
                <li>
                    <a href="/events">
                        <img src="./../../../assets/transformations/calendar.svg" class="nav-links__icon" />
                        <span class="nav-links__label">Events</span>
                    </a>
                </li>
                <li>
                    <a href="/members">
                        <img src="./../../../assets/transformations/members.svg" class="nav-links__icon" />
                        <span class="nav-links__label">Members</span>
                    </a>
                </li>
                <li>
                    <a href="/about">
                        <img src="./../../../assets/transformations/star.svg" class="nav-links__icon" />
                        <span class="nav-links__label">About</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div id="example-3">
        <header>
            <h1 class="page-header">Появление/сокрытие меток.</h1>
        </header>
        <nav class="main-nav">
            <h3 class="page-header">Появление/сокрытие меток.</h3>
            <ul class="nav-links">
                <li>
                    <a href="/">
                        <img src="./../../../assets/transformations/home.svg" class="nav-links__icon" />
                        <span class="nav-links__label">Home</span>
                    </a>
                </li>
                <li>
                    <a href="/events">
                        <img src="./../../../assets/transformations/calendar.svg" class="nav-links__icon" />
                        <span class="nav-links__label">Events</span>
                    </a>
                </li>
                <li>
                    <a href="/members">
                        <img src="./../../../assets/transformations/members.svg" class="nav-links__icon" />
                        <span class="nav-links__label">Members</span>
                    </a>
                </li>
                <li>
                    <a href="/about">
                        <img src="./../../../assets/transformations/star.svg" class="nav-links__icon" />
                        <span class="nav-links__label">About</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div id="example-4">
        <header>
            <h1 class="page-header">Эффекты появления/сокртыия меток.</h1>
        </header>
        <nav class="main-nav">
            <h3 class="page-header">Эффекты появления/сокртыия меток.</h3>
            <ul class="nav-links">
                <li>
                    <a href="/">
                        <img src="./../../../assets/transformations/home.svg" class="nav-links__icon" />
                        <span class="nav-links__label">Home</span>
                    </a>
                </li>
                <li>
                    <a href="/events">
                        <img src="./../../../assets/transformations/calendar.svg" class="nav-links__icon" />
                        <span class="nav-links__label">Events</span>
                    </a>
                </li>
                <li>
                    <a href="/members">
                        <img src="./../../../assets/transformations/members.svg" class="nav-links__icon" />
                        <span class="nav-links__label">Members</span>
                    </a>
                </li>
                <li>
                    <a href="/about">
                        <img src="./../../../assets/transformations/star.svg" class="nav-links__icon" />
                        <span class="nav-links__label">About</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div id="example-5">
        <div class="row">
            <div class="box">One</div>
            <div class="box">Two</div>
            <div class="box">Three</div>
            <div class="box">Four</div>
        </div>
    </div>

    <div id="example-6">
        <div class="row">
            <div class="box">One</div>
            <div class="box">Two</div>
            <div class="box">Three</div>
            <div class="box">Four</div>
        </div>
    </div>

    <div id="example-7">
        <div class="row">
            <div class="box">One</div>
            <div class="box">Two</div>
            <div class="box">Three</div>
            <div class="box">Four</div>
        </div>
    </div>

    <div id="example-8">
        <div class="row">
            <div class="box">One</div>
            <div class="box">Two</div>
            <div class="box">Three</div>
            <div class="box">Four</div>
        </div>
    </div>

</div>