<header>
    <p class="real-header">CSS-сетка.</p>
</header>

<div id="example-1">
    <h1>CSS-сетка.</h1>
    <div class="grid">
        <div class="1">1</div>
        <div class="2">2</div>
        <div class="3">3</div>
        <div class="4">4</div>
        <div class="5">5</div>
        <div class="6">6</div>
    </div>
</div>

<div class="body">
    <div id="example-2">
        <div class="container">
            <header>
                <h1 class="page-heading">Структура HTML для CSS-сетки.</h1>
            </header>
            <nav>
                <ul class="site-nav">
                    <li><a href="/not_define">Ссылка 1.</a></li>
                    <li><a href="/not_define">Ссылка 2.</a></li>
                    <li><a href="/not_define">Ссылка 3.</a></li>
                    <li><a href="/not_define">Ссылка 4.</a></li>
                    <li class="nav-right">
                        <a href="/not_define">Ссылка 5.</a>
                    </li>
                </ul>
            </nav>
            <main class="main tile">
                <h1>Линии CSS-сетки.</h1>
                <figure>
                    <img class="media-image" src="./../../../assets/css_grid/lines.png" alt="image 3">
                    <figcaption>Нумерация линий сетки.</figcaption>
                </figure>
                <p>
                    Экспериментальные возможности:
                    введите в адресную строку '://flags',
                    выберите флажок 'Experimental Web Platform Features'.
                </p>
                <p>На сайте gridbyexample.com собраны примеры использования CSS-сетки.</p>
            </main>
            <div class="sidebar-top tile">
                <form class="login-form">
                    <h3>Login</h3>
                    <p>
                        <label for="username">Username</label>
                        <input id="username" type="text" name="username" />
                    </p>
                    <p>
                        <label for="password">Password</label>
                        <input id="password" type="password" name="password" />
                    </p>
                    <button type="submit">Login</button>
                </form>
            </div>
            <div class="sidebar-bottom tile centered">
                <small>Starting at</small>
                <div class="cost">
                    <span class="cost-currency">$</span>
                    <span class="cost-dollars">20</span>
                    <span class="cost-cents">.00</span>
                </div>
                <a class="cta-button" href="/pricing">Sign up</a>
            </div>
        </div>
    </div>

    <div id="example-3">
        <div class="container">
            <header>
                <h1 class="page-heading tile">Заголовок.</h1>
            </header>
            <nav>
                <h1 class="page-heading tile">Панель.</h1>
            </nav>
            <main class="main tile">
                <h1>Контент.</h1>
            </main>
            <div class="sidebar-top tile">
                <h1>Форма.</h1>
            </div>
            <div class="sidebar-bottom tile">
                <h1>Информация.</h1>
            </div>
        </div>
    </div>

    <div id="example-4">
        <div class="portfolio">
            <figure class="featured">
                <img src="./../../../assets/css_grid/lines.png" alt="image 1" />
                <figcaption>image 1</figcaption>
            </figure>
            <figure>
                <img src="./../../../assets/css_grid/lines.png" alt="image 2" />
                <figcaption>image 2</figcaption>
            </figure>
            <figure class="featured">
                <img src="./../../../assets/css_grid/lines.png" alt="image 3" />
                <figcaption>image 3</figcaption>
            </figure>
            <figure>
                <img src="./../../../assets/css_grid/lines.png" alt="image 4" />
                <figcaption>image 4</figcaption>
            </figure>
            <figure class="featured">
                <img src="./../../../assets/css_grid/lines.png" alt="image 5" />
                <figcaption>image 5</figcaption>
            </figure>
            <figure>
                <img src="./../../../assets/css_grid/lines.png" alt="image 6" />
                <figcaption>image 6</figcaption>
            </figure>
            <figure>
                <img src="./../../../assets/css_grid/lines.png" alt="image 7" />
                <figcaption>image 7</figcaption>
            </figure>
        </div>
    </div>
</div>