.real-header {
    color: red;
    padding: 20px;
    font-size: 20px;
}

[id^="example-"] {
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    margin: 5px;
    --bg-color: rgb(255, 255, 0);
    clear: both;
}

/* --------------- Макет. */

#example-1 {
    float: left;
    width: 98vw;
}

/* --------------- Макет [1,2,3]. Применение шрифта и цветов. */

#example-1 .body, #example-2 .body, #example-3 .body {
    background-color: #eee;
    font-family: Helvetica, Arial, sans-serif;
}

#example-1 header, #example-2 header, #example-3 header {
    color: #fff;
    background-color: #0072b0;
    border-radius: .5em;
}

#example-1 main, #example-2 main, #example-3 main {
    /* 
     * исправляет баг Internet Explorer: в Internet Explorer элементы main 
     *      по умолчанию отображаются как строчные, а не как блочные 
     */
    display: block;
}

#example-1 .main, #example-2 .main, #example-3 .main {
    background-color: var(--bg-color);
    border-radius: .5em;
}

#example-1 .sidebar, #example-2 .sidebar, #example-3 .sidebar {
    background-color: var(--bg-color);
    border-radius: .5em;
    /* добавляет отступы для панели sidebar */
    padding: 1.5em;
}

/* --------------- Выравнивание двух колонок. */

#example-1 .main, #example-2 .main, #example-3 .main {
    /* выравнивание основной панели по левой стороне с шириной в 70% */
    float: left;
    width: 70%;
}

#example-1 .sidebar, #example-2 .sidebar, #example-3 .sidebar {
    /* выравнивание боковой панели по левой стороне с шириной 30% */
    float: left;
    width: 30%;
}

/* --------------- Плавающие колонки с настроенной блочной моделью. */

#example-1 .main, #example-1 .sidebar {
    /* без 'border-box' */
    box-sizing: unset;
}

#example-2 .main, #example-2 .sidebar {
    /* применение 'border-box' */
    box-sizing: border-box;
}

/* --------------- Глобальное применение свойства 'border-box'. */

/* 
 * изменить свойство box-sizing для всех элементов и псевдоэлементов:
 *      *, ::before, ::after {
 *          box-sizing: border-box;
 *      }
 */

/* --------------- Надежное применение свойства 'border-box'. */

#example-3 :root, #example-3 .body {
    /* применение значения border-box к корневому элементу */
    box-sizing: border-box;
}

#example-3 *, #example-3 ::before, #example-3 ::after {
    /* свойства box-sizing не наследуется, поэтому применяем inherit */
    box-sizing: inherit;
}

/* Переопределение box-sizing в дочернем контейнере. */

#example-4 .body {
    /* 
     * контейнеру верхнего уровня стороннего компонента назначают свойство content-box,
     * все элементы внутри контейнера будут наследовать значение свойства box-sizing 
     */
    box-sizing: content-box;
}

/* --------------- Вычисление зазора через проценты. */

#example-3 .sidebar {
    /* Вычитает 1 % из ширины... */
    width: 29%;
    /* и добавляет его в качестве поля */
    margin-left: 1%;
}

/* --------------- Вычисление зазора через фугкцию calc. */

#example-3 .sidebar {
    /* вместо того чтобы перемещать в поле 1% от ширины, вычитает 1.5 em из ширины */
    width: calc(30% - 1.5em);
    /* перемещайте 1.5em и добавляет его в качестве поля */
    margin-left: 1.5em;
}

/* --------------- Макет 5. */

#example-5 :root {
    box-sizing: border-box;
}

#example-5 *, #example-5 ::before, #example-5 ::after {
    box-sizing: inherit;
}

#example-5 .body {
    background-color: #eee;
    font-family: Helvetica, Arial, sans-serif;
}

#example-5 header {
    color: #fff;
    background-color: #0072b0;
    border-radius: .5em;
}

#example-5 .main {
    background-color: var(--bg-color);
    border-radius: .5em;
}

#example-5 .sidebar {
    background-color: var(--bg-color);
    border-radius: .5em;
    padding: 1.5em;
    /* поле больше не применяется */
    margin-left: 1.5em;
}

/* --------------- Колонки равной высоты. */

#example-5 .ex-container {
    /* делает макет контейнера похожим на таблицу */
    display: table;
    /* заставляет таблицу заполнять всю ширину контейнера */
    width: 100%;
}

#example-5 .main {
    /* позволяет макету колонки имитировать ячейки таблицы */
    display: table-cell;
    width: 70%;
}

#example-5 .sidebar {
    /* позволяет макету колонки имитировать ячейки таблицы */
    display: table-cell;
    width: 30%;
}

/* --------------- Макет 6. */

#example-6 :root {
    box-sizing: border-box;
}

#example-6 *, #example-6 ::before, #example-6 ::after {
    box-sizing: inherit;
}

#example-6 .body {
    background-color: #eee;
    font-family: Helvetica, Arial, sans-serif;
}

#example-6 header {
    color: #fff;
    background-color: #0072b0;
    border-radius: .5em;
}

#example-6 .ex-container {
    /* - */
    display: table;
    width: 100%;
}

#example-6 .main {
    background-color: var(--bg-color);
    border-radius: .5em;
    /* - */
    display: table-cell;
    width: 70%;
}

#example-6 .sidebar {
    background-color: var(--bg-color);
    border-radius: .5em;
    padding: 1.5em;
    /* - */
    display: table-cell;
    width: 30%;
}

/* --------------- Колонки на основе табличного макета с исправленным зазором. */

/* 
 * удобно если элементы должны перекрывать друг друга или иметь большую ширину, 
 * чем содержащие их контейнеры.
 */

#example-6 .wrapper {
    /* добавляет обертку с отрицательными полями */
    margin-left: -1.5em;
    margin-right: -1.5em;
}

#example-6 .ex-container {
    /* устанавливает горизонтальное расстояние между ячейками таблицы */
    border-spacing: 1.5em 0;
}

/* --------------- Макет 7. */

#example-7 :root {
    box-sizing: border-box;
}

#example-7 *, #example-7 ::before, #example-7 ::after {
    box-sizing: inherit;
}

#example-7 .body {
    background-color: #eee;
    font-family: Helvetica, Arial, sans-serif;
}

#example-7 header {
    color: #fff;
    background-color: #0072b0;
    border-radius: .5em;
}

#example-7 .main {
    background-color: var(--bg-color);
    border-radius: .5em;
}

#example-7 .sidebar {
    background-color: var(--bg-color);
    border-radius: .5em;
    padding: 1.5em;
}

/* --------------- flexbox-верстка, колонки одинаковой высоты. */

#example-7 .ex-container {
    /* присвоение значения flex свойству display контейнера */
    display: flex;
}

/* элементам внутри flex-контейнера не нужно задавать свойства display и float */

#example-7 .main {
    width: 70%;
}

#example-7 .sidebar {
    width: 30%;
    /* поля работают так же, как и раньше с плавающими элементами */
    margin-left: 1.5em;
}

/* --------------- min-height / max-height / min-width / max-width */

/* 
 * свойства [min-height, max-height, min-width, max-width] ограничивают размеры элемента 
 *      по ширине и высоте
 */

#example-8 .no-min-max {
    min-height: 0em;
}

#example-8 .min-height {
    min-height: 10em;
}

#example-8 .max-height {
    min-height: 1em;
}

/* --------------- Применение отступов для вертикального центрирования контента. */

#example-9 :root {
    box-sizing: border-box;
}

#example-9 *, #example-9 ::before, #example-9 ::after {
    box-sizing: inherit;
}

#example-9 .body {
    background-color: #eee;
    font-family: Helvetica, Arial, sans-serif;
}

#example-9 header {
    color: #fff;
    background-color: #0072b0;
    border-radius: .5em;
    /* 
     * равные значения верхнего и нижнего отступов центрируют по вертикали 
     *      контент элемента без фиксации высоты 
     */
    padding-top: 4em;
    padding-bottom: 4em;
}

/* --------------- Настройка размера, шрифтов и цвета для кнопок боковой панели. */

#example-10 :root {
    box-sizing: border-box;
}

#example-10 *, #example-10 ::before, #example-10 ::after {
    box-sizing: inherit;
}

#example-10 body {
    background-color: #eee;
    font-family: Helvetica, Arial, sans-serif;
}

#example-10 header {
    padding: 1em 1.5em;
    color: #fff;
    background-color: #0072b0;
    border-radius: .5em;
}

#example-10 .ex-container {
    display: flex;
}

#example-10 .main {
    width: 70%;
    background-color: #fff;
    border-radius: .5em;
}

#example-10 .sidebar {
    width: 30%;
    padding: 1.5em;
    margin-left: 1.5em;
    background-color: #fff;
    border-radius: .5em;
}

#example-10 .button-link {
    padding: .5em;
    color: #fff;
    background-color: #0090C9;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    /* 
     * блочное представление элементов заполняет доступную ширину и помещает 
     *      каждую ссылку на отдельную строку 
     */
    display: block;
    /**/
    margin-top: 1.5em;
}

/*
 * - нужно настроить расстояние между ссылками, без полей они будут накладываться 
 *      друг на друга, можно задать значения для верхнего и нижнего полей, тогда
 *      произойдет схлопывание полей между двумя кнопками
 * - поля должны сочетаться с отступами боковой панели, для этого применяется
 *      свойство margin-top
 */

#example-10 .button-link+.button-link {
    /*
     * применяем только верхнее поле к элементам button-link, 
     *      которые стоят сразу за другим button-link
     */
    margin-top: 1.5em;
}

/* --------------- Добавление стилей для sponsor-link. */

/*
 * при добавлении на боковую панель ссылки другого типа потребуется 
 *      пересмотреть поля между элементами, можно добавить верхнее поле,
 *      как это было сделано для button-link, но следует учитывать, что
 *      HTML-код имеет неприятную привычку меняться
 */

#example-10 .sponsor-link {
    display: block;
    color: #0072b0;
    font-weight: bold;
    text-decoration: none;
}

/* --------------- Селектор лоботомированной совы. */

/*
 * - вместо того чтобы фиксировать поля для каждого элемента боковой панели, 
 *      используем "селектор лоботомированной совы": *+*, который нацелен 
 *      на любой элемент, который расположен сразу же за любым другим элементом, 
 *      универсальный селектор '*' предназначен для всех элементов, а '+' это
 *      комбинатор смежных элементов
 * - селектор получил название "селектор лоботомированной совы", потому что 
 *      он похож на сову с пустым взглядом
 */

#example-10 .body *+* {
    margin-top: 1.5em;
}

/* --------------- Заключительные штрихи. */

/*
 * применение селектора лоботомированной совы вызывает побочный эффект, боковая панель 
 *      смежна с основной колонкой и тоже получает верхнее поле, что требует обнулить 
 *      отступ
 */

#example-10 .main {
    /* добавляет отступ к основной колонке */
    padding: 1em 1.5em;
}

#example-10 .sidebar {
    /* удаляет верхнее поле, примененное селектором лоботомированной совы */
    margin-top: 0;
}